<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="wrapper">
    <div class="header-wrapper">
      <!-- Main header -->
      <header class="header header--shrink">
        <div class="logo-wrapper">
          <div class="logo">
            <img class="logo-large" src="/assets/images/ps-large.png" alt="PaymentSense logo large"/>
            <!-- <img class="logo-small" src="/assets/images/ps-small.png" alt="PaymentSense logo small"/> -->
          </div>
        </div>

        <!-- Support & Sales -->
        <div class="support-sales tablet">
          <div class="support-sales-large">
            <div class="support-sales-item support-sales-item--blue">
              Support:
              <span>0800 103 2959</span>
            </div>
            <div class="support-sales-item support-sales-item--green">
                Sales:
                <span>0800 103 2959</span>
              </div>
          </div>
          <div class="support-sales-small">
            <div class="support-sales-item support-sales-item--person">
              <img src="/assets/images/heena.png" alt="Person" />
              <span>16 agents available <br/> Call our team now</span>
            </div>
            <div class="support-sales-item support-sales-item--green">
              <span class="small-text">Call for a FREE quote:</span>
              <span>0808 301 6472</span>
            </div>
          </div>
        </div>
        <!-- Support & Sales -->

        <!-- Quote -->
        <a href="#" class="quote tablet">
          Get A Free Quote <img src="/assets/images/arrow-point-to-right.svg" alt="arrow" />
        </a>
        <!-- Quote -->

        <!-- Mobile - Phone Icon -->
        <div class="phone-icon-wrapper mobile">
          <div class="phone-icon">
            <div class="phone-icon__image">
              <img src="/assets/images/telephone.svg" alt="Telephone Icon" />
            </div>
            <span class="phone-icon__text">Contact</span>
          </div>
        </div>
        <!-- Mobile - Phone Icon -->

        <!-- Mobile - Hamburger -->
        <div class="hamburger-wrapper mobile">
          <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
            <span class="hamburger__text">Menu</span>
          </div>
        </div>
        <!-- Mobile - Hamburger -->
      </header>
      <!-- Main Header -->

      <!-- Mobile Dropdown -->
      <div class="header-mobile-dropdown">
        <div class="contact-item contact-item--green">
          <div class="phone-icon"><img src="/assets/images/telephone.svg" alt="Telephone Icon" /></div>
          <div class="contact-item__text">
            <span class="contact-item__name">Contact Sales</span>
            <span class="contact-item__no">0800 078 3287</span>
          </div>
        </div>
        <div class="contact-item contact-item--blue">
          <div class="phone-icon"><img src="/assets/images/telephone.svg" alt="Telephone Icon" /></div>
          <div class="contact-item__text">
            <span class="contact-item__name">Customer Support</span>
            <span class="contact-item__no">0800 078 3287</span>
          </div>
        </div>
      </div>
      <!-- Mobile Dropdown -->
    </div>
  </div>
</body>
</html>
